input {
{% for member in logstash_indexer_redis_hosts %}
  redis {
    host => "{{ member }}"
    data_type => "list"
    key => "logstash"
    codec => json
  }
{% endfor %}
}

output {
  stdout {}
  elasticsearch {
    protocol => "{{ logstash_indexer_elasticsearch_protocol }}"
    host => "{{ logstash_indexer_elasticsearch_host }}"
    port => "{{ logstash_indexer_elasticsearch_port }}"
  }
}
