input {
{% for member in logstash_indexer_redis_hosts %}
  redis {
    host => "{{ member }}"
    data_type => "list"
    key => "logstash"
    codec => json
{% if logstash_indexer_redis_input_threads is defined and logstash_indexer_redis_input_threads != None %}
    threads => {{ logstash_indexer_redis_input_threads }}
{% endif %}
  }
{% endfor %}
}

input {
  syslog {
    type => syslog
    port => 5544
  }
}

output {
  elasticsearch {
    protocol => "{{ logstash_indexer_elasticsearch_protocol }}"
    host => "{{ logstash_indexer_elasticsearch_host }}"
    port => "{{ logstash_indexer_elasticsearch_port }}"
  }
}
